<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary mb-4">
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
      <ul class="navbar-nav d-flex flex-nowrap">
          {% assign sorted_pages = site.pages | sort:"position" %}
          
        
        
        {% for my_page in sorted_pages %}
           {% if my_page.title %}
            <li class="nav-item {% if my_page.url contains "become" %}join-btn ml-auto{% endif %}" {% if my_page.url contains "become" %}style="order: 3;"{% endif %}>
              <a class="nav-link {% if my_page.url contains "become" %}btn btn-danger text-white {% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
           {% endif %}
          {% endfor %}              
        
          <li class="nav-item"><a class="nav-link" href="mailto:{{ site.email }}">Contact</a></li>
          
        <!--Test start -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        <!-- Test end-->  

          {% if site.twitter_username %}
          <li class="nav-item ml-sm-2">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li class="nav-item">
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

        </ul>
      </div>
  </div>
</nav>
